teams=BKCH,CMCH,CMIC,MSCH,PSCH,DUMMY,SITL,SLEM,VDPL
zip_exe_path=C:\Documents and Settings\davesexton\Desktop\migration\bin\7za.exe
csv_file_path=C:\Documents and Settings\davesexton\Desktop\migration\
csv_file_pathx=s:\mig\
migration_team=XXXX
migration_user=0
candidate_education_code_type=1020
candidate_hot_code_type=2080
candidate_hot_code=01
candidate_industry_code_type=1005
candidate_job_category_code_type=1000
candidate_location_code_type=1015
candidate_qualification_code_type=1025,1020
candidate_skill_code_type=1007,1010,1011,1012,1014,1016,1017,1018,1055
candidate_tracking_consultant_code_type=1055
client_contact_role_type=C1
client_employer_only_record_status_code=Y
client_industry_code_type=1005
client_location_code_type=1015
contact_industry_code_type=1005
contact_job_category_code_type=1000
contact_location_code_type=1015
contact_role_code_type=1045
contact_skill_code_type=1007,1010,1011,1012,1014,1016,1017,1018,1055
contact_tracking_consultant_code_type=1055
contact_record_status_code=C
contact_contact_status_code=2,3,6
job_close_reason_type=X2,X3,X4
job_comprtitor_type=X3
job_contact_fee_event_type=1FA
job_contract_type=E
job_education_code_type=1020
job_industry_code_type=1005
job_job_category_code_type=1000
job_lead_record_status_code=L1
job_location_code_type=1015
job_perm_type=C,CR
job_qualification_code_type=1025,1020
job_skill_code_type=1007,1010,1011,1012,1014,1016,1017,1018,1008,1036,1039,1041,1030
journal_general_type=Q11,Q14,P15,KA1,G,P13
journal_send_email_type=KE01,P05,KA2
journal_call_made_log_type=P11,KD2
journal_client_visit_type=P14
journal_internal_interview_arranged_type=Q13,Q15